[submodule "impressjs"]
	path = impressjs
	url = https://github.com/SimonWaldherr/impress.js.git
[submodule "shower"]
	path = shower
	url = git://github.com/pepelsbey/shower.git
[submodule "phpmd"]
	path = phpmd
	url = git@github.com:SimonWaldherr/phpmd.git
